<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yx.graduation.elec.mapper.ParameterMapper" >
  <resultMap id="BaseResultMap" type="yx.graduation.elec.pojo.Parameter" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parameter_name" property="parameterName" jdbcType="VARCHAR" />
    <result column="parameter_unit" property="parameterUnit" jdbcType="VARCHAR" />
  </resultMap>
</mapper>