<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccu.iot.cloud.dao.MqttMessageDao">
  <resultMap id="BaseResultMap" type="ccu.iot.cloud.entity.MqttMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="qos" jdbcType="INTEGER" property="qos" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topic, msg, qos, `time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mqtt_message
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectBySelective" resultType="ccu.iot.cloud.entity.MqttMessage">
    select
    <include refid="Base_Column_List"/>
    from mqtt_message
    <where>
      <if test="topic != null">
        and topic = #{topic,jdbcType=VARCHAR}
      </if>
      <if test="msg != null">
        and msg = #{msg,jdbcType=VARCHAR}
      </if>
      <if test="qos != null">
        and qos = #{qos,jdbcType=INTEGER}
      </if>
      <if test="time != null">
        and `time` = #{time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mqtt_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="ccu.iot.cloud.entity.MqttMessage" useGeneratedKeys="true">
    insert into mqtt_message (topic, msg, qos,
      `time`)
    values (#{topic,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{qos,jdbcType=INTEGER},
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="ccu.iot.cloud.entity.MqttMessage" useGeneratedKeys="true">
    insert into mqtt_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topic != null">
        topic,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="qos != null">
        qos,
      </if>
      <if test="time != null">
        `time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="qos != null">
        #{qos,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ccu.iot.cloud.entity.MqttMessage">
    update mqtt_message
    <set>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="qos != null">
        qos = #{qos,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ccu.iot.cloud.entity.MqttMessage">
    update mqtt_message
    set topic = #{topic,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      qos = #{qos,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>